<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>暖源_呓语碎言</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="暖源,呓语,碎言,心灵鸡汤,吴俊秋,ios开发">
    <meta name="description" content="哪怕所有的事情都不够美好,都要一如既往的坚持">
    <link rel="icon" href="http://www.wqdian.com/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/websitestyle.css">
</head>
<body>
<!--第一部分 个人基本信息-->
<div>
    <div class="base-info">
        <p>基本信息</p>
    </div>
    <table class="base-info-table">
        <tr>
            <td>姓名:吴俊秋</td>
        </tr>
        <tr>
            <td>最高学历:本科</td>
        </tr>
        <tr>
            <td>毕业院校:长江大学</td>
        </tr>
        <tr>
            <td>工作年限:3年</td>
        </tr>
        <tr>
            <td>出生年份:1991.02.07</td>
        </tr>
        <tr>
            <td>所在城市:上海</td>
        </tr>
        <tr>
            <td>联系电话:18321567392</td>
        </tr>
    </table>
</div>

<!--作品展示模块-->
<div>
    <div class="product-info">
        <p>作品展示</p>
    </div>
    <div class="product-back-first">
        <p>国内首款汇聚全球电影、电视、综艺节目中出现的所有产品的时尚购物资讯软件引领新一代购物体验</p>
        <div class="product-back-sub">
            <a href="https://itunes.apple.com/cn/app/电影有约-购物生活/id1052660995?mt=8"><p>电影有约</p></a>
        </div>
    </div>
    <div class="product-back-other">
        <p>属于你的人脉,属于你的商机,尽在人脉通</p>
        <div class="product-back-sub">
            <a href="https://itunes.apple.com/cn/app/人脉通-传统行业社交及交易平台/id673654459?mt=8"><p>人脉通</p></a>
        </div>
    </div>
    <div class="product-back-other">
        <p>一款通过语音技术识别影视作品中出现的商品,为用户发现心仪商品提供了更加便捷的购买渠道</p>
        <div class="product-back-sub">
            <a href="https://itunes.apple.com/cn/app/幕击者/id1111581936?mt=8"><p>幕击者</p></a>
        </div>
    </div>
    <div class="product-back-other">
        <p>金牌牙医,最便捷的渠道,找到属于您的私人牙医,我们的愿景是让每一个人都拥有自己的牙医</p>
        <div class="product-back-sub">
            <a href="https://itunes.apple.com/cn/app/金牌牙医/id965086900?mt=8"><p>金牌牙医</p></a>
        </div>
    </div>
    <div class="product-back-other">
        <p>为您搜罗国内外最前沿时尚的家居家装设计,用创意打造您舒适的居住空间,发现和体验更美好的梦想家生活</p>
        <div class="product-back-sub">
            <a href="https://itunes.apple.com/cn/app/梦想家-国内外时尚家居家装设计-创意打造舒适生活/id688052810?mt=8"><p>梦想家</p></a>
        </div>
    </div>
    <div class="product-back-other">
        <p>苗仓为全国农企构建新型仓储式苗木信息管理平台,随时随地为购苗方提供精准有效的苗木销售信息</p>
        <div class="product-back-sub">
            <a href="https://itunes.apple.com/cn/app/苗仓-更懂苗木信息化管理的智能手机应用/id1120904609?mt=8"><p>苗圃</p></a>
        </div>
    </div>
</div>
</body>
</html>