<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>暖源_呓语碎言</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="暖源,呓语,碎言,心灵鸡汤,吴俊秋,ios开发">
    <meta name="description" content="哪怕所有的事情都不够美好,都要一如既往的坚持">
    <link rel="icon" href="http://www.wqdian.com/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/websitestyle.css">
</head>
<body>
<!--表头-->
<div class="nav-header">
    <b>俊佩信息科技有限公司</b>
    <span class="nav-header-right">CEO & CTO:吴俊秋</span>
</div>
<!--功能按钮-->
<div class="function-container">
    <img src="http://192.168.1.101/images/logo.png" alt="logo">
    <div class="function-container-btn">
        <ul>
            <li><a href="http://mp.weixin.qq.com/s?__biz=MzA4ODY5Njg0OQ==&mid=504256886&idx=1&sn=d343dd65cf5cdf2afe592a211fc611a6&scene=18#rd">个人空间</a></li>
            <li><a href="https://github.com/SirJunqiuWu">工作日志</a></li>
            <li><a href="http://www.junqiuwu.com/product/product/product">作品展示</a></li>
            <li><a href="">首页</a></li>
        </ul>
    </div>
</div>

<!--海报-->
<div style="position: relative">
    <img style="width: 100%;height:700px" src="http://img.wqdian.com/group2/M00/7A/B3/yq0KXlZMFAqAbr_tAAHaifNsEQg011.jpg" alt="海报">
    <div class="poster-float">
        <p>一念执着</p>
        <br>
        <p>有你们的目光在我真的愿意每天都变得更好一些</p>
    </div>
</div>

<!--海报下面空出一部分-->
<div class="under-poster-white">
</div>

<!--简介部分-->
<div class="introduce">
    <p>我们年轻,我们努力</p>
    <div class="introduce-bottom-line">
        <strong>------</strong>
    </div>
    <span class="introduce-text">
        设计工作室成立于2011年，是一家专业从事平面设计的工作室，为广大客户提供高质量、高效益、即快捷又方便的平面设计服务。作为中小企业的合作伙伴，工作室一直秉持“专注、专心、思想创造影响力”的信念。
    </span>
</div>

</body>
</html>